{% extends 'layouts/base.html' %}
{% load static %}

{% block main_content %}
<div class="site-section" id="home-section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mb-5">
          <h1 class="text-white serif text-uppercase mb-4">Reference Materials for PUP - Industrial Engineering Students</h1>
          <p class="text-white mb-5">A collection of reference materials such as book, e-books, pdf files, etc. affiliated to Industrial Engineering. It will be classified based on the subjects of the Polytechnic University of the Philippines IE Curriculum per year level and per semester.</p>
          <p>
            <a href="{% url 'reference' %}" class="btn btn-white px-4 py-3">Find Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light" id="features-section">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-7">
          <h2 class="heading">FEATURES</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-2">
          <div class="service h-100">
            <span class="wrap-icon">
              <span class="icon-book"></span>
            </span>
            <h3>Find</h3>
            <p>Search for references for a specific subject.</p>
          </div>
  
        </div>
        <div class="col-md-6 col-lg-4 mb-2">
          <div class="service h-100">
            <span class="wrap-icon">
              <span class="icon-file"></span>
            </span>
            <h3>View</h3>
            <p>View the details of each reference.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-2">
          <div class="service h-100">
            <span class="wrap-icon">
              <span class="icon-bookmark"></span>
            </span>
            <h3>Visit</h3>
            <p>View references online via hyperlinks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}