{% extends 'layouts/base.html' %}
{% load static %}

{% block main_content %}
<div class="site-section" id="home-section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mb-5">
          <h1 class="text-white serif text-uppercase mb-4">Reference Materials for PUP - Industrial Engineering Students</h1>
          <p class="text-white mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sint alias, doloribus assumenda totam porro ex
            impedit, recusandae voluptatibus sed.</p>
          <p>
            <a href="#" class="btn btn-white px-4 py-3">Find Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}