{% extends 'layouts/base.html' %}

{% block main_content %}
<div class="site-section" id="home-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-5">
              <h1 class="text-white serif text-uppercase mb-4">View References</h1>
              <p class="text-light">Choose a year level, semester and subject to view references for that subject.</p>
              <form action="{% url 'view_reference' %}" method="GET">

                <div class="row">
                    <div class="col-md-12">
                        {{ form.year_level }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        {{ form.semester }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        {{ form.subject }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <input type="submit" value="View References" class="btn btn-white">
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#id_year_level').change(function(){
            var year_level = $(this).val();
            var semester = $('#id_semester').val();
            ajax_load(year_level, semester);            
        });

        $('#id_semester').change(function(){
            var semester = $(this).val();
            var year_level = $('#id_year_level').val();
            ajax_load(year_level, semester);            
        });

        function ajax_load(year_level, semester){
            var url = '/subjects/';
            $.ajax({
                url: url,
                datatype: 'json',
                data: {
                    'year_level': year_level,
                    'semester': semester
                },
                success: function(data){
                    console.log(data);
                    $('#id_subject option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $("#id_subject").append('<option value="'+ data[i].id + '">'+ data[i].subject_name +'</option>');
                    };
                }
            });
        }
    });
</script>
{% endblock %}