{% extends 'layouts/base.html' %}

{% block main_content %}
<div class="site-section" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mb-5">
                <h1 class="text-white serif text-uppercase mb-4">References</h1>
                <h5 class="text-white mt-0">{{ subject.subject_name }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-light">
                <table class="table">
                    <thead>
                        <th>Reference Material</th>
                        <th class="text-center" width="30%">Author</th>
                        <th class="text-center">PDF Link</th>
                    </thead>

                    <tbody>
                        {% for reference in object_list %}
                        <tr>
                            <td>{{ reference.reference_name }}</td>
                            <td class="text-center">{{ reference.reference_author }}</td>
                            <td>
                                {% if reference.reference_text %}
                                <a href="{{ reference.reference_text }}" class="text-center">Visit</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}